extends layout

block content
  h1 Craig Spaeth
  h2 Developer at 
    a#artsy( href='http://artsy.net/craig', target='_blank' ) Artsy
    | . My heart swoons for code, art & indie games.
  ul
    li#twitter
      a( href='https://twitter.com/craigspaeth', target='_blank' ) Twitter
    li#github
      a( href='https://github.com/craigspaeth', target='_blank' ) Github
    li#linkedin
      a( href='http://www.linkedin.com/profile/view?id=50009456&trk=tab_pro', target='_blank' ) LinkedIn
    li#tumblr
      a( href='http://thatshitcraig.com/', target='_blank' ) Tumblr