doctype html
html
  head
    link(
      href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700'
      rel='stylesheet'
      type='text/css'
    )
    link( rel="stylesheet" href="https://npmcdn.com/flickity@2.0/dist/flickity.css" media="screen" )
    link( rel="stylesheet" type="text/css" href="main.css" )
  body#body
    block content
    #scripts
      script( src="https://npmcdn.com/flickity@2.0/dist/flickity.pkgd.min.js" )
      script( src='main.js' )