@import nib
global-reset()

twitter-color = #46B9F1
github-color = #5791CA
linkedin-color = #006599
tumblr-color = #35506B
artsy-color = #6A00CC
border-color = rgba(255,255,255,0.4)
text-color = rgba(255,255,255,0.8)
margin = 30px
font-smoothing()
  vendor('font-smoothing', arguments)

body
  background-color #151515
  color text-color
  font-family 'Open Sans', sans-serif
  font-size 16px
  line-height 1.4em
  transition background-color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000)
  font-smoothing antialiased
  &.twitter
    background-color twitter-color
  &.github
    background-color github-color
  &.linkedin
    background-color linkedin-color
  &.tumblr
    background-color tumblr-color
  &.artsy
    background-color artsy-color
h1
  margin margin 0
  text-align center
  font-size 30px
  font-weight 600
  text-transform uppercase
  letter-spacing 8px
  padding-bottom 3px
h2
  text-align center
  color white
  a
    padding-bottom 1px
    padding-left 2px
a
  color text-color
  text-decoration none
  transition color 0.2s
  font-weight 700
  text-transform uppercase
  letter-spacing 1px
  font-size 13px
  &:hover, &:active
    color white
ul
  margin margin auto
  text-align center
  a
    color rgba(255,255,255,0.8)
    letter-spacing 3px
  li
    display inline-block
    margin-right (margin * 0.7)
    padding-right @margin-right
    border-right 1px solid rgba(255,255,255,0.12)
    a
      padding-bottom 3px
    &:last-child
      margin-right 0
      border-right 0
      padding-right 0

#container
  top 50%
  position absolute
  margin-top -125px
  display block
  left 50%
  margin-left -282px